// mainly used in respond-to mixin
$mobile: 440;
$tablet: 768;
$desktop: 1147;
$monitor: 1500;

@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}


@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}
