/*Setup normalize*/


html {
  font-size: 100%;
}

body {
  /*background: #232664;*/
  background: radial-gradient(ellipse at top, #232664 0%, #090A0F 100%);
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;

}

@import 'mixins';

@import '../components/mc-logo/style';
@import '../components/x-stars/style';

