{{mc-logo class="mini"}}


<li>{{#link-to 'events.index'}}Events{{/link-to}}</li>

{{#each currentUser.invitedEvents as |event|}}
  {{#if event.isEnabled}}
    <li>{{#link-to 'events.event' event.id}}{{event.shortName}}{{/link-to}}</li>
  {{/if}}
{{/each}}

<li>{{#link-to 'events.registry'}}Registry{{/link-to}}</li>

{{#if currentUser.isAdmin}}
  <li>{{#link-to 'events.admin' currentUser.id}}Admin{{/link-to}}</li>
{{/if}}

<li><span {{action 'unauthenticate' target=rsvp}}>Log out</span></li>

{{!-- <li>{{#link-to 'index'}}Directions{{/link-to}}</li> --}}