




  {{#if currentUser}}
    <div class="rsvp-container">
      <h1>Welcome, {{currentUser.firstName}}!</h1>
      <p>We look forward to spending time with you.</p>
      <p>You can find the relevant information in the menu at the top.</p>
    </div>
  {{else}}
    {{mc-logo}}
    <div class="rsvp-container">
      {{x-login uid=uid}}
    </div>
  {{/if}}




