.event-details{
  .description{
    margin-bottom: 32px;
  }
  .event-field{
    margin-bottom: 24px;
    h3{
      margin: 0;
      font-size: 18px;
    }
    p{
      margin: 0;
      &.note{
        font-size: 14px;
      }
    }
    a{
      font-weight: 600;
    }
    .x-check-list{
      margin-top: 20px;
    }
    &.highlighted{
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 16px;
      text-align: left;
      h3 {
        margin-bottom: 12px;
        font-size: 20px;
      }
    }
  }
  .big-button{
    border: 2px solid $white;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 40px;
    // background: #488eca;
    h3{
      padding-bottom: 4px;
      border-bottom: 1px solid rgba($white, 20%);
      font-weight: 300;
      font-size: 24px;
    }
    &.expanded{
      border-color: $gold;
      background: $gold;
    }
  }
  .buttons{
    margin-top: 32px;
  }
}
