.event-details{
  .description{
    margin-bottom: 32px;
  }
  .event-field{
    margin-bottom: 24px;
    h3{
      margin: 0;
      font-size: 18px;
    }
    p{
      margin: 0;
      &.note{
        font-size: 14px;
      }
    }
    a{
      font-weight: 600;
    }
    .x-check-list{
      margin-top: 20px;
    }
    &.highlighted{
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 16px;
      text-align: left;
      h3 {
        margin-bottom: 12px;
      }
    }
  }
  .buttons{
    margin-top: 32px;
  }
}
