<div class="rsvp-container">
  <h1>Hey, {{currentUser.firstName}}!</h1>

  <p>You have been invited to the following events:</p>

  <div class="events">
    {{#each currentUser.invitedEvents as |event|}}
      <div class="event-listing">
        <h3>{{event.name}}</h3>
        {{#link-to 'events.event' event.id class="btn s-s"}}RSVP{{/link-to}}
      </div>
    {{/each}}
  </div>

  <p><i>“I am the light of the world. Whoever follows me will not walk in darkness, but will have the light of life.”
  <br>John 8:12</i></p>

</div>