<div class="rsvp-container">
  <h1>Hey, {{currentUser.firstName}}!</h1>

  <p>You have been invited to the following {{if (gt currentUser.invitedEvents.length 1) 'events' 'event'}}:</p>

  <div class="events">
    {{#each currentUser.invitedEvents as |event|}}
      {{#if event.isEnabled}}
        <div class="event-listing">
          <h3>{{event.displayName}}</h3>
          {{!-- <span class="status">{{event-status event=event user=currentUser}}</span> --}}
          <span class="status">You have an event update!</span>
          {{#link-to 'events.event' event.id class="btn s-s"}}View{{/link-to}}
        </div>
      {{/if}}
    {{/each}}
  </div>

</div>